version: "3.8"

services:
  backend:
    build: ./backend
    container_name: spring-backend
    ports:
      - "8080:8080"
    environment:
      FIREBASE_CONFIG_PATH: /app/firebase-key.json
    volumes:
      - ./backend/firebase-key.json:/app/firebase-key.json
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: react-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped
